* { 
    margin: 0;
    padding: 0; 
}

html, body { 
    	height: 100%; 
    	background: url('../img/gplaypattern.png') #e8e8e8; 
    	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }

#wrapper {
    	min-height: 100%;
    	height:     auto !important;
    	height:     100%;
    	margin:     0 auto 0; 
    	cursor: pointer;
    }
    
h1 {
	font-size: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
}

h4 {
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	color: #FFF;
	bottom: 20;	
	right: 10;
	position: absolute;
}
    
.frame {
	margin: 0 auto -15px;
}

/* Frame */
.frame {
	height: 100%;
	overflow: hidden;
}
.frame .items {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame .item {
	float: left;
	width: 400px;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0;
	color: #333;
	text-align: center;
}

/* Year Bars */

.year, div .year.active {
	background: rgba(51, 51, 51, 0.2);
	color: #FFF;
	float: left;
	width: 32px;
	height: 100%;
	margin: 0 20px 0 20px;
	padding: 0;
	text-align: center;
}

.year-text {
	display: block;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: relative;
	font-size: 32px;
	top: 25px;
    right: 1;
}

/* Scrollbar */
#scrollbar {
	position: relative;
	height: 15px;
	background: rgba(51, 51, 51, 0.2);
	line-height: 0;
}
#scrollbar .handle {
	width: 100px;
	height: 100%;
	background: rgb(146, 146, 146);
	cursor: pointer;
}
#scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
}

/* Types */

.crazy .web {
	background:#DFFF80; /* green */
}

.crazy .code {
	background: #CB9FDF; /* yellow */
}

.crazy .employ {
	background: #FF8080; /* berry */
}

.crazy .edu {
	background: #8ED6F0; /* orange */
}

.crazy .unknown {
	background: #FFD680; /* blue? not sure what to use this color for */
}

.crazy img {
    float: left;
    padding: 10px;
    max-width: 380px;
	}
    


/* Hover Content */

.hover-left {
    left:0;
}
.hover-right {
    right:0;
}

.hover {
	pointer-events: none;
	position:fixed;
    height:100%;
    top:0;
    background: rgba(51, 51, 51, 0.85);
    text-align:left;
}


/* Unique's */
#about, #about img {
    padding: 0px;
}
#odu {
    background: url('../img/back/code.png');
    
}

#tsa {
    background: url('../img/back/tsa.jpg');
    color: #FFF;
}
#tsa img {
    padding: 0;
}
#centration {
    background: url('../img/back/centration.jpg') right;
}
#minecraft {
    background: url('../img/back/minecraft.jpg') right top;
}
#empireavenue {
    background: rgba(255, 255, 255, 0.80);
}
#tetris {
    background: rgba(255, 255, 255, 0.80);
}
#inmotionhosting {
    background: rgba(255, 255, 255, 0.80);
}
#jamestownhs {
    background: rgba(255, 255, 255, 0.80);
}
#gsst {
    background: rgba(255, 255, 255, 0.80);
}
#oduout {
    background: rgba(255, 255, 255, 0.80);
}
#pheme {
    background: rgba(245, 30, 30, 1);
}
#a2113 {
    background: rgba(249, 246, 229, 0.75);
}
#jitterzz {
    background: url('../img/back/jitterzz.jpg');
}
#restore {
    background: url('../img/back/restore.jpg');
}
#dots {
    color: #FFF;
    background: url('../img/back/dots.jpg') no-repeat #000;
    background-position: center bottom;
}
#jcc {
    background: rgba(255, 255, 255, 0.80);
}
#wcusa {
    background: rgba(255, 255, 255, 0.80);
}
#tht {
    background: rgba(238, 239, 241, 0.80);
}
#cs {
    background: rgba(42, 133, 232, 0.75);
}

/* floating */
.floating {
    position: relative;
    list-style: none;
}

.floating > div {
    margin: 30px;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.2);   
    position: relative;
    overflow: hidden;
}

.floating > div img {
    opacity: 0.95;
    bottom: 0;
    left: 0;
    position: absolute;
    float: none;
    max-width: 300px;
    pointer-events:none;
}

.floating > div h1 {
    bottom: 0;
    left: 25;
    position: absolute;
    float: none;
}

/* TAGS */
.tags {
    position: absolute;
    top:10;
    right: 0;
}
.tag {
    display: block;
    position: relative;
    margin-top: 16px;
    padding: 3px;
    text-decoration:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

.dark-bg {
    background: rgba(0,0,0,0.25);
    box-shadow: 0px 0px 0px 6px rgba(156, 156, 156, 0.2);
    
}
.dark-fg {
    color: #000;
}

.light-bg {
    background: rgba(255,255,255,0.25);
    box-shadow: 0px 0px 0px 6px rgba(156, 156, 156, 0.2);
}
.light-fg {
    color: #FFF;
}

.tag i {
    position: relative;
    padding: 0 9px;
}

/* Hidden element with more information */
.info {
    opacity: 0;
}
